{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>homepage</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
   <a href="/update">Back</a>
   <div class="container vh-100">
	<div class="row justify-content-center h-100">
		<div class="card w-50 my-auto shadow">
			 <div class="card-header text-center bg-primary text-white">
				 <h2>Update Records</h2>	
			 </div>

			 <div class="card-body">
				<form action="/updatedata/{{data.id}}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}		   
			   <div class="form-group">
						 <label for="name">First Name</label>
						 <input type="text" id="name" class="form-control" name="name" value="{{data.name}}" required="">
					 </div>

					 <div class="form-group">
						<label for="name">Last Name</label>
						<input type="text" id="name" class="form-control" name="lname" value="{{data.lname}}" required="">
					</div>

					 <div class="form-group">
						 <label for="email">Email</label>
						 <input type="email" id="email" class="form-control" name="email" value="{{data.email}}" required="">
					 </div>

					 <div class="form-group">
						 <label for="age">Age</label>
						 <input type="text" id="mobile" class="form-control" name="age" value="{{data.age}}" required=""> 
					 </div>

					 <div class="form-group">
						 <label for="image">Image</label> <br>
						 <img src="{{data.image.url}}" width="200px" height="200px" alt="updated image">
						 <input type="file" id="image" class="form-control" name="img">
					 </div>

			   <input type="submit" class="btn btn-primary w-100" value="Update">
				 </form>
			 </div>

			 <div class="card-footer text-center">
				 <small> &copy; Technical Nitish</small>
			 </div>	
		</div>
	</div>
</div>


</body>
</html>